<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Add Account To User</title>
</head>
<body>

<!-- <table id="accounts" class="table">
	<caption>Existing accounts</caption>
    <tr>
        <th style="width: 100px;">Account Name</th>
        <th style="width: 80px;">User Handle</th>
    </tr>
    <tr th:each="account : ${accountSet}">
        <td th:text="${account.name}">123</td>
        <td th:text="${account.user.handle}">handle</td>
    </tr>
</table> -->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" data-toggle="validator" th:object="${addaccount}" th:action="@{/account/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group-success">
                    <div class="panel-success panel-primary-success">
                        <div class="panel-heading-success">
                            <h1 class="panel-title-success">Add Account to User</h1>
                            <h2 th:text="${'User Name: ' + (addaccount.userFullName)}">User Name Goes Here</h2>
                        </div>
                        <div class="panel-body-success">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>Account Name:</label>
                                    <input type="text" class="form-control" 
                                    data-error="An account name must be between 4 and 20 characters." 
                                    maxlength="20" minlength="4" id="inputAccountName" placeholder="Choose an account name"
                                    th:field="*{accountName}" required/>
                                    <div class="help-block with-errors"></div>
                                    <label th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">Name Error</label>
                                </div>
                            </div>
						</div>
                    <button type="submit" >Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>