<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'user')}">
<head>
<meta charset="UTF-8" />
<title>User Registration via Social Media Account</title>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h5 class="card-header text-center" th:text="#{label.form.title}">
					form</h5>
				<div class="card-body">
					<form role="form" data-toggle="validator" th:object="${socialuser}"
						th:action="@{/socialregister}" method="POST" enctype="utf8">
						<div class="form-group">
							<label th:text="#{label.user.firstName}">first</label> <label
								th:text="*{firstName}">first_name</label> <input
								id="userFirstName" th:field="*{firstName}" type="hidden" />
						</div>
						<div class="form-group">
							<label th:text="#{label.user.lastName}">last</label> <label
								th:text="*{lastName}">last_name</label> <input id="userLastName"
								th:field="*{lastName}" type="hidden" />
						</div>
						<div class="form-group">
							<label th:text="#{label.user.email}">email</label> <label
								th:text="*{email}">email_address</label> <input id="userEmail"
								th:field="*{email}" type="hidden" /> <input id="userPlatformId"
								th:field="*{socialPlatformId}" type="hidden" />
						</div>
						<div class="form-group">
							<label th:text="#{label.user.handle}">handle</label> <input
								class="form-control" id="inputHandle"
								data-error="Required is a handle/nickname of at least 4 characters"
								data-minlength="4" placeholder="What's your handle?"
								th:field="*{handle}" required />
							<div class="help-block with-errors"></div>
							<p th:each="error : ${#fields.errors('handle')}"
								th:text="${error}">Validation error</p>
						</div>
						<button type="submit" class="btn-block"
							th:text="#{label.form.submit}">submit</button>
					</form>
				</div>
				<hr />
				<div class="container">
					<a th:href="@{/}" th:text="#{label.pages.backToHome}">home</a>
				</div>
			</div>
		</div>
	</div>

</body>