<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'user')}">
<head>
    <meta charset="UTF-8"/>
    <title>Account Landing</title>
</head>
<body>

<table id="accountAttributes" class="table">
	<caption th:text="${account.name}">Account Attributes</caption>
<!-- <tr>
		<th style="width: 50px;"/>
		<th style="width: 50px;"/>
	</tr> -->
	<tr>
		<td>User:</td>
		<td th:text="${user.fullName}">User Name</td>
	</tr>
	<tr>
		<td>Original Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.originalCash, 1, 2)}">$1.00</td>
	</tr>
	<tr>
		<td>Current Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.currentCash, 1, 2)}">$1.00</td>
	</tr>
</dl>


<table id="holdingViews" class="table">
<caption>Holdings List</caption>
    <tr>
        <th style="width: 100px;">Ticker Symbol</th>
        <th style="width: 100px;">Share Quantity</th>
        <th style="width: 100px;">Issuing Company</th>
    </tr>
    <tr th:each="holding : ${holdingSet}">
        <td th:text="${holding.tickerSymbol}">NULL</td>
        <td th:text="${holding.shareQuantity}">99.99</td>
        <td th:text="${holding.companyName}">Olsonsoft</td>
    </tr>
</table>

</body>
</html>