<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Purchase Form</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <form role="form" data-toggle="validator" th:object="${buy}" th:action="@{/purchase/}" method="post">
                <input type="hidden" th:field="*{accountId}"/>
                <div class="panel-group-success">
                    <div class="panel-success panel-primary-success">
                        <div class="panel-heading-success">
                            <h1 class="panel-title-success">Make Purchase</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label>Ticker Symbol:</label>
                                <!--     <input type="text" class="form-control" th:field="*{symbol}"/> -->
                                	<select id="symbol" th:field="*{symbol}">
									  <option value="GLD">GLD</option>
									  <option value="GBTC">GBTC</option>
									  <option value="EMQQ">EMQQ</option>
									  <option value="QQQ">QQQ</option>
									  <option value="KBA">KBA</option>
									  <option value="XBI">XBI</option>
									  <option value="SPY">SPY</option>
									  <option value="IWN">IWN</option>
									  <option value="IJT">IJT</option>
									  <option value="GVAL">GVAL</option>								  
									</select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Share Quantity:</label>
                                    <input type="text" class="form-control" name="quantity" th:field="*{shareQuantity}" placeholder="10" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
						</div>
                    <button type="submit">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr/>
<table id="accountAttributes" class="table">
	<caption th:text="${(account.name) + ' Account Attributes'}">Account Attributes</caption>
<!-- <tr>
		<th style="width: 50px;"/>
		<th style="width: 50px;"/>
	</tr> -->
	<tr>
		<td>User:</td>
		<td th:text="${user.fullName}">User Name</td>
	</tr>
	<tr>
		<td>Original Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.originalCash, 1, 2)}">$1.00</td>
	</tr>
	<tr>
		<td>Current Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.currentCash, 1, 2)}">$1.00</td>
	</tr>
</table>
<table id="holdingViews" class="table">
<caption>Holdings List</caption>
    <tr>
        <th style="width: 100px;">Ticker Symbol</th>
        <th style="width: 100px;">Share Quantity</th>
        <th style="width: 100px;">Issuing Company</th>
    </tr>
    <tr th:each="holding : ${holdingSet}">
        <td th:text="${holding.tickerSymbol}">NULL</td>
        <td th:text="${holding.shareQuantity}">99.99</td>
        <td th:text="${holding.companyName}">Olsonsoft</td>
    </tr>
</table>
</body>
</html>