<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Sell Holding</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <form role="form" data-toggle="validator" th:object="${sale}" th:action="@{/sale/}" method="post">
                <input type="hidden" th:field="*{accountId}"/>
                <div class="panel-group-success">
                    <div class="panel-success panel-primary-success">
                        <div class="panel-heading-success">
                            <h1 class="panel-title">Sell Holding</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label>Ticker Symbol:</label>
                                    <label th:text="*{symbol}">OOO</label>
                                	<input type="hidden" class="form-control" th:field="*{symbol}"/>
                                	<label>Current Quantity Held: </label>
                                	<label th:text="*{currentQuantity}">-10.0</label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Share Quantity To Sell:</label>
                                    <input type="number" class="form-control" name="quantity" 
                                    th:field="*{saleQuantity}" placeholder="10" min="0.001" step="0.001" max="2000" th:attr="max=${amountHeld}" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                            </div>
						</div>
                    <button type="submit">Submit</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr/>
<table id="accountAttributes" class="table">
	<caption th:text="${(account.name) + ' Account Attributes'}">Account Attributes</caption>
<!-- <tr>
		<th style="width: 50px;"/>
		<th style="width: 50px;"/>
	</tr> -->
	<tr>
		<td>User:</td>
		<td th:text="${user.handle}">User Name</td>
	</tr>
	<tr>
		<td>Original Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.originalCash, 1, 2)}">$1.00</td>
	</tr>
	<tr>
		<td>Current Cash:</td>
		<td th:text="${ '$' + #numbers.formatDecimal(account.currentCash, 1, 2)}">$1.00</td>
	</tr>
</table>
</body>
</html>