<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'about')}">
<head>
<meta charset="UTF-8" />
<title>About/Info</title>
</head>
<body>
	<h1 id="about-formula-fund-virtual-portfolio">About Formula Fund
		Virtual Portfolio</h1>
	<p>Virtual Portfolio can be thought of as an investing or trading
		game. It has the functionality of allowing a virtual investment
		portfolio to be established with a set of exchange-traded funds
		generally available to investors in the United States of America. The
		following functionality is available to everyone:</p>
	<ul>
		<li>browsing the accounts currently in the system</li>
		<li>viewing the quantities and values of the assets within each
			account</li>
	</ul>
	<p>Additionally, those who register can enjoy the following
		functionality:</p>
	<ul>
		<li>creating a user with a handle / nickname</li>
		<li>opening one or more accounts</li>
		<li>making purchases and sales within each account</li>
		<li>deleting their own accounts as well as their user record</li>
	</ul>
	<p>
		Registration and login can be done via (1) an email username and a
		password kept in encrypted form in the application database, or (2) by
		social media account (Google) authentication. For the password-based
		method, verification of the email address is required. A <a
			href="/privacy">privacy policy statement</a> is available.
	</p>
	<br />
	<p>
		The application has been developed with a strategy of focusing on a
		minimum viable product. Certainly, the scope is limited and I hope to
		<a href="/functionality">add functionality</a> in the future.
	</p>
	<br />
	<p>
		A primary motivation for building Virtual Portfolio has been to
		develop and showcase proficiency with specific software development
		frameworks, libraries, and techniques. A <a href="/structure">description
			of the application structure</a> is available.
	</p>
</body>
</html>