<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'about')}">
<head>
<meta charset="UTF-8" />
<title>Privacy Policy</title>
</head>
<body>
	<h1 id="privacy-policy">Privacy Policy</h1>
	<h2 id="virtual-portfolio-by-formula-fund">Virtual Portfolio</h2>
	<p>Virtual Portfolio is a stock market investing simulation game,
		offered for educational and entertainment value. In order to be an
		active participant, a would-be player must register as a user. There
		are two mechanisms offered for registration and login:</p>
	<ol>
		<li>Application-specific credentials stored in the application
			database, with the password stored in encrypted form</li>
		<li>Social media (Facebook) authentication</li>
	</ol><br/>
	<h4
		id="information-collected-from-users-in-the-password-based-registration-process">Information
		collected from users in the password-based registration process</h4>
	<p>When the user registers without the social media account, the
		following items are required:</p>
	<ul>
		<li>First name</li>
		<li>Last name</li>
		<li>Email address</li>
		<li>password</li>
		<li>a handle (nickname)</li>
	</ul>
	<p>The password provided to the application is stored in an
		encrypted form. Users are encouraged to utilize a unique password for
		the application. The application does have password reset
		functionality that utilizes an email message sent to the address used
		for the registration. The handle is the primary way that users are
		distinguished in the application.</p><br/>
	<h4
		id="information-collected-from-users-who-choose-the-social-media-account-option">Information
		collected from users who choose the social media account option</h4>
	<p>From the social media account, Virtual Portfolio collects the
		following:</p>
	<ul>
		<li>First name</li>
		<li>Last name</li>
		<li>Email address</li>
		<li>an arbitrary identifier provided by the social media platform</li>
	</ul>
	<p>From the user, Virtual Portfolio requires a handle.</p><br/>
	<p><b><i>How are email addresses used by the application?</i></b><br/> The email
		address is used only for communication directly associated with the
		application, such as the following:</p>
	<ul>
		<li>confirmation of the address</li>
		<li>password reset request authentication</li>
		<li>update messages pertaining to the Virtual Portfolio application</li>
	</ul>
	<p>The email address provided by the user will not be shared with
		third parties.</p>
	<br/>
	<p>Any updates to the privacy policy will be preceded by a required acknowledgment at application 
	login, so that users can decide whether to continue or not, prior to the application of the change.</p>
		
</body>
</html>