<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'about')}">
<head>
<meta charset="UTF-8" />
<title>Structure of Virtual Portfolio application</title>
</head>
<body>
	<h2
		id="structure-and-techniques-used-in-the-virtual-portfolio-application">Structure
		and Techniques Used in the Virtual Portfolio application</h2>
	<p>This version of the Virtual Portfolio application has been built
		with the following technology:</p>
	<ul>
		<li>Java 11</li>
		<li>Spring Boot</li>
		<li>Spring Web MVC</li>
		<li>Thymeleaf templating engine</li>
		<li>Spring Security 5</li>
		<li>Spring Data JPA</li>
		<li>Bootstrap CSS</li>
		<li>Bootstrap Validator</li>
		<li>MySQL</li>
	</ul>
	<p>Deployment has been done on Amazon Web Services, specifically using the following AWS services:</p>
	<ul>
	 <li>Elastic Beanstalk</li>
	 <li>Route 53</li>
	 <li>EC2</li>
	 <li>Certificate Manager</li>
	 <li>Simple Email Service</li>
	 <li>RDS</li>
	</ul>
</body>
</html>