<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'about')}">
<head>
<meta charset="UTF-8" />
<title>Operation Result</title>
</head>
<body>
	<h2
		id="structure-and-techniques-used-in-the-virtual-portfolio-application">Structure
		and Techniques Used in the Virtual Portfolio application</h2>
	<p>This version of the Virtual Portfolio application has been built
		with the following technology:</p>
	<ul>
		<li>Java 11</li>
		<li>Spring Boot</li>
		<li>Spring Web MVC</li>
		<li>Thymeleaf templating engine</li>
		<li>Spring Security 5</li>
		<li>Spring JPA</li>
		<li>Bootstrap CSS</li>
		<li>Bootstrap Validator</li>
		<li>MySQL</li>
	</ul>
</body>
</html>